<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <span matPrefix>
            <b>Username</b> &nbsp;</span>
        <input matInput formControlName="username" id="username">
    </mat-form-field>
    <mat-form-field>
        <span matPrefix>
            <b>Password</b> &nbsp;</span>
        <input type="password" matInput formControlName="password" id="password">
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Sign Up</button>
    <p style="text-align: center">
        <a mat-button color="primary" [routerLink]="['/signin']">Sign In</a>
    </p>
    <h5 *ngIf="success">Sign Up success!</h5>
</form>